# 先忽略所有文件
*

# -----------------------
# 反忽略你要保存的东西
# -----------------------

# 保留 Python
!*.py

# 保留 Notebook
!*.ipynb

# 保留 Markdown
!*.md

# 保留 .gitignore 自己
!.gitignore

# 保留目录结构用的 .gitkeep
!.gitkeep

# 保留文件夹（但文件夹里仍然默认全忽略）
!*/
